/*
*** formatações gerais 
*/
body{
    background: linear-gradient(500deg, #E3CF76, #B3A35D, #635B34, #635B34);
    color: #000;
}
li:hover, span:hover, p:hover, h4:hover, h5:hover{
    color: #DACB99;
    text-shadow: 1px 1px 2px #A69A74;
    font-weight: bold;
}
h2:hover{
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
}
a:link, a:active, a:visited, a:hover{
    text-decoration: none;
    color: #000;
}
svg{
    color: #000;
    margin-right: 5px;
}

h2{
    font-size: 2em;
    text-shadow: 1px 1px 2px #000;
}
h4{
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
h5{
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #000;
}

span, p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;
    text-shadow: 1px 1px 2px rgb(77, 77, 77);
}
hr{
    width: 220px;
    height: 1px;
    margin: 0;
}
:in-range{
    width: 150px;
}
/*
*** header
*/
header{
    width: 100%;
    height: 150px;
    background: transparent;
    color: #fff;
}

header #topo{
    margin-right: 280px;
}
header #topo:hover{
    color: #A69A74;
    text-shadow: 2px 2px 2px #fff;
}


/* 
*** aside
*/
aside section#conteudo-lateral{
    margin-top: 190px;
    margin-left: -385px;
}

aside #contato span{
    font-size: 1.1em;
    font-weight: bold;
}

aside #habilidades{
    margin-left: -390px;
    margin-top: 510px;
}
aside #habilidades span{
    text-align: center;
    width: 120px;
    height: 35px;
    background: #000;
    color: #fff;
    text-shadow: 1px 1px 2px #faf8f8;
    font-size: 1.1em;
    line-height: 30px;
    /* para versões antigas do chrome e safari */
    -webkit-border-radius: 20px 90px;
    /* para versões antigas do mozilla */
    -moz-border-radius: 20px 90px;
    /* browsers novos */
    border-radius: 20px 20px;
    display: inline-block;
}
aside #habilidades h4{
    text-align: center;
    font-size: 1.3em;
}
/*
*** article
*/
article section#conteudo-principal{
    margin-left: 480px;
}

article #cursos{
    margin-top: 42px;
}

article #formacoes{
    margin-top: 28px;
    margin-right: 198px;
}

article #hobbies span{
    font-size: 1.1em;
}

article #personalidade{
    margin-top: -280px;
    margin-right: 268px;
    cursor: not-allowed;
}

article #personalidade ul#list-personalidade2{
    margin-top: -204px;
    margin-right: -135px;
}