body{
    background: linear-gradient(510deg, #83818C, #A5A8A2, #CFCFCF);
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.carousel-caption{
    background-color: transparent;
    position: absolute;
    width: 75%;
    height: 88%;
    z-index: 10;
    padding: 15px 0;
    text-align: initial;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 20px #000;
}
.carousel-control-next-icon{
    margin-left: 75px;
}

*:hover{
    text-shadow: 1px 1px 2px #000;
    color: #000000;
    font-weight: bold;
}

h1{
    font-size: 2.2em;
}
h2{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: #000;
}
h5{
    font-size: 1.2em;
}
h1, h2, h3, h5, h6{
    text-shadow: 1px 1px 2px #000;
    color: #000;
}

span, p{
    font-size: 1.1em;
    font-weight: 400;
    color: #000;
    text-shadow: 1px 1px 2px rgb(77, 77, 77);
}

hr{
    width: 220px;
    height: 2px;
    margin: 0;
}

a:hover{
    text-decoration: none;
}

/*** HEADER ***/
header{
    width: 100%;
    margin-top: 35px;
}
header h1:hover, h3:hover{
    color: #000;
    text-shadow: 2px 2px 5px #fff;
    font-weight: bold;
}

.cv-pdf button a {
    color: #fff;
}
.cv-pdf button{
    border: none;
    border-radius: 10px;
}
.cv-pdf button a:hover {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}
.cv-pdf button:hover{
    background: transparent;
    box-shadow: 2px 2px 9px #000;
}

/*** CONTATO ***/
.contato{
    color: #000;
}
.contato ul li a {
    color: #000;
}
.contato ul li i{
    padding: 20px 10px;
}

/*** OBJETIVO / EXPERIENCIA ***/
.objetivo-experiencia{
    color: #000;
}
.experiencia p{
    margin-top: 10px;
}

/*** EDUCAÇÃO ***/
#secao-educacao{
    padding: 20px;
    color: #000;
}
.info-link, .info-link:hover{
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
}

/*** HABILIDADES ***/
.habilidades ul li{
    padding: 10px;
    color: #000;
}

/*** FOOTER ***/
footer p {
    font-size: 0.8em;
    color: #000;
}
